.admin-power-flow-container {
  position: relative;
  width: 100%;        /* take full width of card */
  max-width: 100%;     /* scale within card width */
  height: auto;
  aspect-ratio: 4 / 3; /* keeps proportions */
  margin: 0 auto;      /* center in card */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -6%;
}

/* Wrapper for each icon */
.admin-icon-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1vw; /* scales with screen width */

}

/* Place icons using percentages (relative to container) */
.admin-icon-wrapper-solar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1vw;
  top: 85%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.admin-icon-wrapper-home {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1vw;
  top: 85%;
  right: 15%;
  transform: translate(50%, -50%);
}

.admin-icon-wrapper-grid {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 1vw;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}


