.power-flow-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0;           /* Remove auto-centering */

    padding-top: -50px;    /* Adjust top spacing */
    padding-left: 100px
    
  }
  
  .icon-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  /* Place icons at rhombus corners */
  .solar {
    top: 12%;
    left: 5%;
    transform: translateY(-50%);
  }
  
  .home {
    top: 12%;
    right: 15%;
    transform: translateY(-50%);
  }
  
  .grid {
    top: -35%;
    left: 48%;
    transform: translateX(-50%);
  }
  
  .battery {
    bottom: 45%;
    left: 48%;
    transform: translateX(-50%);
  }
