.power-flow-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0;  
    overflow: visible;         /* Remove auto-centering */

    padding-top: -50px;    /* Adjust top spacing */
    padding-left: 100px
    
  }
  
  .icon-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .svg-container {
  display: flex;
  justify-content: flex-start; /* align left */
  align-items: flex-start;   
}

  /* Place icons at rhombus corners */
  .solar {
    top: 20%;
    left: 7%;
    transform: translateY(-50%);
  }
  
  .home {
    top: 20%;
    right: 25%;
    transform: translateY(-50%);
  }
  
  .grid {
    top: -15%;
    left: 43%;
    transform: translateX(-50%);
  }
  
  .battery {
    bottom: 45%;
    left: 43%;
    transform: translateX(-50%);
  }
